<div class="container exerciseDetails">

    <div class="col-md-7 exercise-slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div>
                <p>
                <h1 class="text-center custom-header">WELCOME TO GETFIT</h1>
                </p>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner text-center ">
                <div class="carousel-item active ">
                    <img class="d-block slider-image" src="/../frontend/fragments/slider/slide_1.jpg"
                         alt="First slide">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>