<div class="form-group">
    <label for="trainingName">Name</label>
    <input type="text" class="form-control " id="trainingName" name="trainingName">
</div>


<div class="exercise-menu row">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Chest
        </button>
        <div class="dropdown-menu chest-menu" aria-labelledby="dropdownMenuButton1"></div>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Arms
        </button>
        <div class="dropdown-menu arms-menu" aria-labelledby="dropdownMenuButton2"></div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Shoulders
        </button>
        <div class="dropdown-menu shoulders-menu" aria-labelledby="dropdownMenuButton3"></div>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Back
        </button>
        <div class="dropdown-menu back-menu" aria-labelledby="dropdownMenuButton4"></div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Legs
        </button>
        <div class="dropdown-menu legs-menu" aria-labelledby="dropdownMenuButton5"></div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Calves
        </button>
        <div class="dropdown-menu calves-menu" aria-labelledby="dropdownMenuButton6"></div>
    </div>

</div>
<div class="row program-exercises">

</div>
