<div class="mt-5 welcome-text">
    <h1 class="text-center">Create program</h1>


    <div class="form-group">
        <label for="programName">Name</label>
        <input type="text" class="form-control " id="programName" name="programName">
    </div>

    <div class="form-group">
        <select class="custom-select" id="numberOfTrainings">
            <option  selected="selected">Number of trainings</option>
            <option   value="1">One</option>
            <option   value="2">Two</option>
            <option   value="4">Three</option>
            <option   value="5">Four</option>
            <option   value="5">Five</option>
            <option   value="6">Six</option>
        </select>
    </div>
    <h1> Trainings</h1>
    <div id="trainings">


    </div>
</div>