<div class="mt-5 welcome-text">
    <h1 class="text-center">Create exercise</h1>
    <h2 class="text-center">Add description and photos</h2>

    <form enctype="multipart/form-data" id="regForm" class="col-md-5 regForm">
        <div class="form-group exercise-form">
            <label for="name">Exercise name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group exercise-form">
            <label for="description">Description</label>
            <textarea name="description" form="regForm" id="description" rows="5" resi></textarea>
        </div>

        <div class="form-group exercise-form">
            <label for="exerciseDifficulty">Exercise difficulty</label>
            <div class="btn-group btn-group-toggle exerciseDiffContainer" data-toggle="buttons" id="exerciseDifficulty">
                <label class="btn exerciseLabel btn-secondary custom-label active">
                    <input type="radio" name="options" autocomplete="off" value="Basic"> Basic
                </label>
                <label class="btn exerciseLabel btn-secondary custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Intermediate"> Intermediate
                </label>
                <label class="btn exerciseLabel btn-secondary custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Advanced"> Advanced
                </label>
            </div>
        </div>

        <div class="form-group exercise-form">
            <label for="muscleGroup" class="muscleGroup">Muscle group</label>
            <div class="btn-group btn-group-toggle exerciseDiffContainer" data-toggle="buttons" id="muscleGroup">
                <label class="btn btn-secondary exerciseLabel custom-label active">
                    <input type="radio" name="options" autocomplete="off" value="Chest"> Chest
                </label>
                <label class="btn btn-secondary exerciseLabel  custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Back"> Back
                </label>
                <label class="btn btn-secondary exerciseLabel custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Arms"> Arms
                </label>
                <label class="btn btn-secondary exerciseLabel custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Shoulders"> Shoulders
                </label>
                <label class="btn btn-secondary exerciseLabel custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Legs"> Legs
                </label>
                <label class="btn btn-secondary exerciseLabel custom-label">
                    <input type="radio" name="options" autocomplete="off" value="Calves"> Calves
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="images">Images</label>
            <input type="file" class="form-control" name="images" id="images" multiple>
        </div>

        <button id="createExerciseBtn" type="button" class="btn btn-primary custom-btn createExerciseBtn">Create</button>

    </form>

</div>